<?xml version="1.0"?>

<model>
  <name>Wheel Ramps</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Nate Koenig</name>
    <email>nate@osrfoundation.org</email>
  </author>

  <description>
    A set of ramps that can guide a marble. Best used with the Bucket Wheel model. 
  </description>
</model>
