<?xml version="1.0"?>

<model>
  <name>Bucket Wheel</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Nate Koenig</name>
    <email>nate@osrfoundation.org</email>
  </author>

  <description>
    A wheel with two buckets. Similar to a water wheel.
  </description>
</model>
