<?xml version="1.0"?>

<model>
  <name>VRC Driving Terrain</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Nate Koenig</name>
    <email>nate@osrfoundation.com</email>
  </author>

  <description>
   A down-sized version of the vrc driving terrain world.
  </description>
</model>
