[Desktop Entry]
Name=MENTOR2_Chapter2
Comment=Run Chapter2
Exec=bash -ci '"$(dirname "$1")"/run.bash "$(dirname "$1")"/../worlds/chapter2.world' dummy %k
Icon=
Terminal=true
Type=Application
